.env
*.env
.env.*

!.env.example

venv/
env/
__pycache__/
*.pyc

storage/
postgres_data/
qdrant_storage/

data/output/
data/DocumentPradiabet_Done/
data/DocumentPradiabet/

MinerU_Model/
models/
*.pt
*.bin
*.safetensors
*.onnx

*.db
*.sqlite3