fastapi
uvicorn[standard]
pydantic
python-multipart
jinja2

sqlalchemy
psycopg2-binary
requests

passlib[bcrypt]
python-jose[cryptography]
python-dotenv

qdrant-client
cohere
groq
ollama
pandas

aiofiles